.about{
  height: 100vh;
}
/* .container{
    position: absolute;
    top: 70px;
    left: 0;
    height: 500px;
    width: 100vw;
}
.container > div {
    position: relative;
    width: 100%;
}  */
/* .container {
  position: relative;
  height: 800px;
} */

/* .party {
  position: absolute;
  top: 72px;
  left: 0;

  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0; 
} */

/* #mydiv {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 1;
} */

#tsparticles {   
  height: 100vh;
  position: absolute;
  /* width: 70%; */
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}

@media screen and (max-width: 409px) {
  .about{
    height: 130vh;
  }
  .image{
   
    margin-left: 0px;
    height: 350px;
    margin-right: auto;
  
  }
  
}
@media screen and ((min-width: 410px) and (max-width: 575px)) {
  .about{
    height: 110vh;
  }

  .image{
    width: min-content;
    margin-right: 50px;
    margin-left: 1% !important;
  }
}


@media screen and ((min-width: 576px) and (max-width: 1023px))
{

}

@media screen and ((min-width: 1024px) and (max-width: 1279px))
{
.logo{
  
}
}

@media screen and ((min-width: 1280px) and (max-width: 1535px))
{
.logo{
  margin-left: 500px !important;
}
}

@media screen and ((min-width: 1536px))
{
.logo{
  margin-left: 50%;
}
}

