.aboutme{
    height: 100vh;
}

@media screen and (max-width: 575px) {
    .aboutme{
        height: 230vh;
    }
  }

  @media screen and ((min-width: 576px) and (max-width: 1023px))
  {
    .aboutme{
        height: 130vh;
    }
  }  