.aboutme{
    height: 100vh;
}
@media screen and (max-width: 409px) {
    .aboutme{
        height: 350vh;
    }
    .image{
      width: min-content;
      margin-left: 0px;
      height: 350px;
      margin-right: auto;
    
    }
    
  }
  @media screen and ((min-width: 410px) and (max-width: 575px)) {
    .aboutme{
      height: 250vh;
    }
}

  @media screen and ((min-width: 576px) and (max-width: 1023px))
  {
    .aboutme{
        height: 130vh;
    }
  }  